#header {
  padding: 15px 0;
  background: #fcefe4;
  .header {
    width: 99%;
    &__admin {
      color: #eb8671;
      span {
        margin: 0 20px 0 0;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
      margin-left: 130px;
      img {
        width: 45.963px;
        height: 41.787px;
        transform: rotate(23.742deg);
      }
      display: flex;
      display: flex;
      gap: 5px;
      &__block {
        align-items: center;
        &__h3 {
          width: 153px;
          height: 31.807px;
          font-family: Gadugi;

          color: #073c2a;
          font-size: 24px;
          font-weight: 700;
          &__p {
            color: #0a3f23;
            font-size: 11px;
            font-weight: 400;
          }
        }
      }
    }
    &__logo {
      display: flex;
      gap: 30px;
      color: #eb8671;
      &__inp {
        border: none;
        padding-left: 10px;
        border-radius: 5px;
        outline: none;
      }
    }
  }
}
