@import "./Global.scss";
@import "./components/Home/Home.scss";
@import "./components/Home/Aboutt/About.scss";
@import "./components/Navbar/Header/Header.scss";
@import "./components/Home/Katalog/Katalog.scss";
@import "./components/form/Form.scss";
